body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #C59C6C;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="password"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#milk-img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add top margin to create space */
}

/* Copyright Text */
p {
    position: fixed;
    bottom: 10px; /* Adjust the bottom value as needed */
    left: 50%;
    transform: translateX(-50%);
}
