/* Reset some default styles for better consistency */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Basic mobile-responsive styling */
body {
    font-family: Arial, sans-serif;
    background-color: #C59C6C;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

#sub-title{
    text-align: center;
}

.snow-background{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
}

#milk-img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center the image horizontally */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 20px; /* Add top margin to create space */
}

form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#generatedList {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#clearButton {
    margin-top: 10px;
    background-color: red;
}

#clearButton:hover{
    background-color: rgb(196, 2, 2);
}


#clearStacksButton{
    background-color: red;
}

#clearStacksButton:hover{
    background-color: rgb(196, 2, 2);
}

#scanDocumentButton {
    margin-top: 10px;
    margin-bottom: 10px;
  }

/* 
#milk-img {
    width: 100px;
    margin-right: 10px;
} */

/* Media query for mobile devices */
@media (max-width: 768px) {
    form {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    button {
        font-size: 16px;
    }
}

#link{
    text-decoration: none;
    color: green;
}

#link:hover{
    text-decoration: underline;
    color: lightblue;
}
